$bigFont: 48px;
$border: 2px solid #ededed;
$mainFontcolor: #ededed;
$addedFontcolor: #9b9898;

@mixin flexCenter() {
  display: flex;

  justify-content: center;
  align-items: center;
}

.bigFont {
  font-size: $bigFont;
}

.price {
  @include flexCenter();
  color: $mainFontcolor;
  border: $border;
  width: 100%;
  height: 150px;
  gap: 10px;
}

h2 {
  @include flexCenter();
  color: $mainFontcolor;
  margin: 0;
  justify-items: center;
  text-align: center;
  padding: 5px;
  width: 100%;
}
.blue {
  h2 {
    background-color: rgb(31, 113, 125);
  }
  .price {
    background-color: rgb(60, 191, 209);
  }
}
.red {
  h2 {
    background-color: rgb(190, 67, 37);
  }
  .price {
    background-color: rgb(236, 129, 105);
  }
}
.green {
  h2 {
    background-color: rgb(23, 128, 49);
  }
  .price {
    background-color: rgb(47, 236, 94);
  }
}
.black {
  h2 {
    background-color: rgb(107, 107, 107);
  }
  .price {
    background-color: rgb(210, 210, 210);
  }
}
.card {
  @include flexCenter();
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: $border;
}
.volume {
  background-color: #b7b3b3;
  width: 100%;
  text-align: center;
  justify-items: center;
  height: 50px;
  padding: 5px 0px;
  border: $border;
}
.speed {
  background-color: #f0f0f0;
  width: 100%;
  text-align: center;
  justify-items: center;
  height: 50px;
  padding: 5px 0px;
  border: $border;
}
.active {
  transition: transform 0.25s ease;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  z-index: 100;
}
